.card {
  perspective: 1000px;
}

.card-inner {
  transform-style: preserve-3d;
  transition: transform 1s ease-in;
}

.card-inner .front, .card-inner .back{
  backface-visibility: hidden;
}

.card-inner .back {
  transform: rotateY(-180deg);
}

.card:hover > .card-inner {
  transform: rotateY(180deg);
}